<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>

<form action="">
    
    <h2>Powering world-class companies</h2>
    <div class="row">
        <div class="col">

            <label for="fname" class="form-label">Firstname</label>
            <input type="text" placeholder="enter first name" class="form-control">
            
        </div>
        
        <div class="col">

            <label for="lname" class="form-label">Lastname</label>
            <input type="text" placeholder="enter last name" class="form-control">
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="bemail" class="form-label">Buisness email</label>
            <input type="email" class="form-control">
        </div>
        
        <div class="col">
            <label for="phonenum" class="form-label">Phone number</label>
            <input type="text">
        </div>
    </div>
    
    
</form>

</body>
</html>