<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallary page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallary.css' %}">
</head>
<body>
<h1>GALLARY SECTION</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda debitis esse laboriosam numquam obcaecati provident qui voluptas! Dignissimos dolorum est magnam, maiores non porro quidem tenetur ullam veniam voluptas. Ipsam!</span><span>Asperiores blanditiis dolores facere fugit itaque nam nostrum porro quibusdam sunt ut. Alias autem commodi ea exercitationem explicabo in incidunt ipsum magnam maiores, neque possimus quaerat quasi sequi vel voluptate.</span><span>Cumque dolor illo quo repellendus similique! Accusamus accusantium adipisci aliquid amet autem consequuntur cumque dignissimos earum esse excepturi illo, ipsum, maiores nostrum odio officiis omnis, quia ratione sed veniam veritatis?</span></p>

<img src="{% static 'assets/images/dog1.jpg' %}" alt="">
<img src="{% static 'assets/images/dog2.jpg' %}" alt="">
<img src="{% static 'assets/images/hedgehog.jpg' %}" alt="">
<img src="{% static 'assets/images/foem2.jpg' %}" alt="">

</body>
</html>